<script lang="ts">
    export let width: string = "400px";
    export let height: string = "40px";
    export let progress: number = 0;
</script>

<div class="overlay" style="width: {width}; height: {height};">
    <div class="overlay-fill" style="--progress: {progress}%;"></div>
</div>

<style>
    .overlay {
        position: relative;
        background: #aaccff;
        border: 2px solid #88bbdd;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .overlay-fill {
        --progress: 0%;
        height: 100%;
        width: var(--progress, 0%);
        background: #6699cc;
        transition: width .25s;
    }
</style>
