<script lang="ts">
  import "./app.css";
  import svelteLogo from "./assets/svelte.svg";
  import viteLogo from "/vite.svg";
  import * as twitchToken from "./lib/twitchToken";
  import { getHashData } from "./lib/locationHash";
  import { twitchAPIUrl, twitchClientId } from "./lib/constants";

  let token = twitchToken.getToken();
  let error: String;

  /**
   * Handle callback from twitch login.
   */
  const pageHash = window.location.hash;
  if (pageHash) {
    const data = getHashData();
    if (data.state && !twitchToken.validateState(data.state)) {
      error = "Failed to validate CSRF token";
    } else {
      if (data.access_token) {
        twitchToken.setToken(data.access_token);
        window.location.href = "/";
      } else {
        error = "Access token not found.";
      }
    }
  }

  /**
   * Generate a link for loggin in with twitch.
   */
  function getTwitchLoginHref() {
    const state = twitchToken.generateValidationState();
    const url = new URL("https://id.twitch.tv/oauth2/authorize");
    const urlSearchParams = new URLSearchParams({
      client_id: twitchClientId,
      redirect_uri: "http://localhost:3024",
      response_type: "token",
      scope: "channel:read:redemptions",
      state,
    });
    url.search = urlSearchParams.toString();
    return url.toString();
  }

  /**
   * Clear twitch auth token, effectively logging out.
   */
  function logout() {
    token = null;
    twitchToken.clearToken();
  }

  /**
   * Copy the overlay URL to your clipboard.
   */
  function copyOverlayURL(broadcasterId: string) {
    const url = `${window.location.origin}/overlay/#token=${token}&broadcaster_id=${broadcasterId}`;
    navigator.clipboard.writeText(url);
  }

  /**
   * Fetch userdata from twitch API.
   * @param username
   */
  async function getTwitchUser(username?: string): Promise<{
    id: string;
    login: string;
    display_name: string;
    type: string;
    broadcaster_type: string;
    description: string;
    profile_image_url: string;
    offline_image_url: string;
    email?: string;
    created_at: string;
  }> {
    const url = new URL(`${twitchAPIUrl}/users`);
    if (username) {
      const urlSearchParams = new URLSearchParams({
        login: username,
      });
      url.search = urlSearchParams.toString();
    }
    const headers = {
      Authorization: `Bearer ${token}`,
      "Client-Id": twitchClientId,
    };
    return await fetch(url, { headers })
      .then((res) => res.json())
      .then((data) => data.data[0]);
  }
</script>

<main>
  <!-- Boilerplate code from template-->
  <div>
    <a href="https://vitejs.dev" target="_blank" rel="noreferrer">
      <img src={viteLogo} class="logo" alt="Vite Logo" />
    </a>
    <a href="https://svelte.dev" target="_blank" rel="noreferrer">
      <img src={svelteLogo} class="logo svelte" alt="Svelte Logo" />
    </a>
  </div>
  <h1>Vite + Svelte</h1>

  <!-- Twitch integration -->
  <div class="card">
    {#if token}
      <h2>Overlay URL</h2>
      {#await getTwitchUser()}
        <p>Loading...</p>
      {:then data}
        <button class="button" on:click={() => copyOverlayURL(data.id)}
          >Copy Overlay URL</button
        >
      {/await}
      <button class="button" on:click={logout}>Logout</button>
    {:else}
      <a class="button" href={getTwitchLoginHref()}>Twitch Login</a>
    {/if}
  </div>

  <!-- Error messages -->
  {#if error}
    <div class="error-msg">
      <p>{error}</p>
    </div>
  {/if}

  <!-- Boilerplate code from template -->
  <p class="read-the-docs">Click on the Vite and Svelte logos to learn more</p>
</main>

<style>
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.svelte:hover {
    filter: drop-shadow(0 0 2em #ff3e00aa);
  }
  .read-the-docs {
    color: #888;
  }
  .error-msg {
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0 0 0 / 0.5);
    background-color: rgb(182, 63, 63);
    padding: 0.5em;
    border-radius: 0.5em;
    border-bottom: 4px solid rgb(129, 49, 49);
  }
</style>
